<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Ajout de la permission INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Si tu veux vérifier l'état du réseau, tu peux ajouter cette permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPortal"
        tools:targetApi="31">

        <!-- Activité principale qui s'exécute au lancement de l'application -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyPortal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité pour la connexion -->
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyPortal"/>

        <!-- Activité pour l'enregistrement -->
        <activity android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyPortal"/>

        <!-- Activité de succès après l'enregistrement -->
        <activity android:name=".SuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyPortal"/>

        <!-- Activités pour le tableau de bord -->
        <activity android:name=".AdminDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyPortal"/>

        <!-- Activité du tableau de bord utilisateur -->
        <activity android:name=".UserDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.EasyPortal"/>



    </application>

</manifest>
